
.div1{
    display: flex;
    border: solid black 1px;
    margin-block: 2em;
    margin-inline: 3em;
    padding: 1em;
    border-radius: 10px;
}
.div2{
    margin-inline: 1em;
}

.div3 h5{
    color: #FD5B17;
}
.div3 p{
    color: rgb(8, 28, 61);
}